<div class="blogs-preview">
  <figure>
    <div class="blogs-preview_img">
      <img src="#" alt="blog-img">
    </div>
    <figcaption class="blogs-preview_category">Category</figcaption>
  </figure>
  <h2 class="blogs-preview_title">Aenean sollicitudin suscipit turpis</h2>
  <div class="blogs-preview_wrapper">
    <p class="blogs-preview_comments">
      <svg class="blogs-preview_comments_icon">
        <use xlink:href="#live-chat_icon"></use>
      </svg>
      comments: <span>5</span>
    </p>
    <p class="blogs-preview_date">
      <svg class="blogs-preview_date_icon">
        <use xlink:href="#clock_icon"></use>
      </svg>
      Date: <span>25 sep 2016</span>
    </p>
  </div>
</div>