<footer class="footer">
  <div class="container">
    <div class="footer_wrapper">
      <div class="footer_agora">
        <h2 class="footer_agora_title">Agora</h2>
        <p class="footer_agora_descr">Aliquam erat volutpat. Maecenas vehicula sapien quis erat interdum aliquam non id ante.</p>
        <div class="footer_agora_links">
          <a href="#">Guides</a>
          <a href="#">Terms of Use</a>
          <a href="#">Privacy Policy</a>
        </div>
        <a href="#" class="footer_agora_copy-right">© 2013 — 2016</a>
      </div>
      <div class="footer_help">
        <ul>
          <li class="footer_help_title">Get Help</li>
          <li class="footer_help_link"><a href="#">Order Status</a></li>
          <li class="footer_help_link"><a href="#">Shippi	ng and Delivery</a></li>
          <li class="footer_help_link"><a href="#">Payment Options</a></li>
          <li class="footer_help_link"><a href="contacts.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer_about">
        <ul>
          <li class="footer_about_title">About Us</li>
          <li class="footer_about_link"><a href="#">Careers</a></li>
          <li class="footer_about_link"><a href="#">Sustainability</a></li>
          <li class="footer_about_link"><a href="#">Service</a></li>
          <li class="footer_about_link"><a href="#">CA Supply Chains Act</a></li>
        </ul>
      </div>
      <div class="footer_social">
        <div class="footer_social_wrapper">
          <div class="footer_social_links">
            <a href="#" target="blank">
              <svg class="footer_social_links_facebook">
                <use xlink:href="#facebook_icon"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="footer_social_links_twitter">
                <use xlink:href="#twitter_icon"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="footer_social_links_vk">
                <use xlink:href="#vk_icon"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="footer_social_links_google">
                <use xlink:href="#google_icon"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="footer_social_links_instagram">
                <use xlink:href="#instagram_icon"></use>
              </svg>
            </a>
          </div>
          <div class="footer_pay">
            <h3 class="footer_pay_methods">Payment Methods:</h3>
            <div class="footer_pay_links">
              <a href="#">
                <svg class="footer_pay_links_paypal">
                  <use xlink:href="#paypal_icon"></use>
                </svg>
              </a>
              <a href="#">
                <svg class="footer_pay_links_visa">
                  <use xlink:href="#visa_icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>