<!-- header Nav Start -->
<nav class="header">
  <h1 class="hidden">agora</h1>
  <ul class="header_nav">
    <li><button class="header_search unselectable"><img src="img/header/searching.svg" alt="searching"></button></li>
    <li tabindex="0" class="header_select unselectable">
      <div class="header_hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p>select
        <br>
        <span>category</span>
      </p>
    </li>
    <li>
      <button class="header_item unselectable">agora</button>
    </li>
    <li>
      <button class="header_login unselectable">
        <img src="img/header/login.svg" alt="login">
      </button>
    </li>
    <li>
      <button class="header_like unselectable"><img src="img/header/heart.svg" alt="heart">
      </button>
    </li>
    <li>
      <button  class="header_basket unselectable">
        <img src="img/header/basket.svg" alt="basket">
        <span class="header_basket_counter">3</span>
      </button>
    </li>
  </ul>
  <!-- header Nav End -->

  <!-- Sign Form Start-->
  <div class="hidden">
    <div class="sign">
      <div class="sign_title">
        Sign in
      </div>
      <form action="#" class="sign_form">
        <div class="sign_wrapper">
          <input tabindex="0" type="email" name="email" placeholder="E-mail">
          <input tabindex="0" type="password" name="password" placeholder="password">
          <a class="sign_forget" tabindex="0" href="#" target="_blank">Forgot your password?</a>
        </div>      
        <button tabindex="0" type="submit" class="sign_btn">Sign in</button>
      </form>
    </div>
  </div>
<!-- Sign Form End-->

<!-- Search Form Start -->
  <div class="over-flow">
    <div class="search">
      <form action="#" class="search_form">
        <span tabindex="0" class="search_close">&times;</span>
        <input tabindex="0" type="text" class="search_input" placeholder="Type to search">
        <button tabindex="0" class="search_btn"><img src="img/header/searching.svg" alt="searching"></button>
      </form>
    </div>
  </div>
<!-- Search Form End -->

<!-- basket-cart Start -->
  <div class="hidden">
    <div class="basket-cart">
      <div class="basket-cart_title">
        Your Cart: <span>3</span>
      </div>
      <div class="basket-cart_wrapper">
        <div class="basket-cart_item">
          <img src="img/header/basket-cart.png" alt="item" class="basket-cart_img">
          <p class="basket-cart_price">
            Nike Air Footscape<br> 
            <span>$ 235.00</span></p>
          <button tabindex="0" class="basket-cart_close">&times;</button>
        </div>
        <div class="basket-cart_item">
          <img src="img/header/basket-cart.png" alt="item" class="basket-cart_img">
          <p class="basket-cart_price">
            Jordan Galaxy<br>
            <span>$ 599.00</span></p>
          <button tabindex="0" class="basket-cart_close">&times;</button>
        </div>
        <div class="basket-cart_item">
          <img src="img/header/basket-cart.png" alt="item" class="basket-cart_img">
          <p class="basket-cart_price">
            Nike Air Zoom Huarache<br>
            <span>$ 200.00</span></p>
          <button tabindex="0" class="basket-cart_close">&times;</button>
        </div>
      </div>      
      <button tabindex="0" type="button" class="basket-cart_btn">Go to cart        
      </button>
    </div>
  </div>
  <!-- basket-cart End -->

  <!-- fullMenu Start -->
  <div class="menu">
    <div class="hidden">
      <div class="menu_grid">
        <div class="menu_column">
          <ul class="menu_clothing">
            <li class="menu_title">Clothing</li>
            <li><a href="#" class="menu_link">Tops & T-Shirts</a></li>
            <li><a href="#" class="menu_link">Polos</a></li>
            <li><a href="#" class="menu_link">Hoodies & Pulloversb</a></li>
            <li><a href="#" class="menu_link">Jackets & Vests</a></li>
            <li><a href="#" class="menu_link">Pants & Tights</a></li>
            <li><a href="#" class="menu_link">Shorts</a></li>
            <li><a href="#" class="menu_link">Surf & Swimwear</a></li>
            <li><a href="#" class="menu_link">Sunglasses</a></li>
          </ul>
        </div>
        <div class="menu_column">
          <ul class="menu_shoes">
            <li class="menu_title">SHOES</li>
            <li><a href="#" class="menu_link">Lifestyle</a></li>
            <li><a href="#" class="menu_link">Running</a></li>
            <li><a href="#" class="menu_link">Training & Gym</a></li>
            <li><a href="#" class="menu_link">Basketball</a></li>
            <li><a href="#" class="menu_link">Football</a></li>
            <li><a href="#" class="menu_link">Baseball</a></li>
            <li><a href="#" class="menu_link">Skateboarding</a></li>
            <li><a href="#" class="menu_link">Tennis</a></li>
            <li><a href="#" class="menu_link">Sandals & Flip Flops</a></li>
          </ul>
        </div>
        <div class="menu_column">
          <ul class="menu_shoes">
            <li class="menu_title">equipment</li>
            <li><a href="#" class="menu_link">Tourism</a></li>
            <li><a href="#" class="menu_link">Martial arts</a></li>
            <li><a href="#" class="menu_link">Bicycles</a></li>
            <li><a href="#" class="menu_link">Water sports</a></li>
            <li><a href="#" class="menu_link">Hockey</a></li>
            <li><a href="#" class="menu_link">Football</a></li>
            <li><a href="#" class="menu_link">Athletics</a></li>
          </ul>
        </div>
        <div class="menu_column">
          <ul class="menu_shoes">
            <li class="menu_title">other</li>
            <li><a href="#" class="menu_link">Lorem Ipsum</a></li>
            <li><a href="#" class="menu_link">Dolor sit Amet</a></li>
            <li><a href="#" class="menu_link">Aliquam Non Justo</a></li>
            <li><a href="#" class="menu_link">Etiam Consequat</a></li>
          </ul>
        </div>
        <div class="menu_column">
          <ul class="menu_geo">
            <li class="menu_address"><img src="img/header/geo.svg" alt="geo" class="menu_geo_icon">
              <address>
                  <span>address</span>
                  <a href="#">25, Lomonosova St.<br> 
                    Moscow, Russia, 665087</a>
              </address>
            </li>
            <li class="menu_phone"><img src="img/header/phone.svg" alt="phone" class="menu_geo_icon">       
              <span>phone</span>          
              <a class="menu_phone_number" href="+72349495883">+7 234 949-58-83</a> <br>
              <a class="menu_phone_number" href="+72349495883">+7 234 949-58-83</a>
            </li>
            <li class="menu_working"><img src="img/header/clock.svg" alt="clock" class="menu_geo_icon">
                <span>working hours</span>
                Monday-Friday: 8am-8pm <br>
                Saturday 9am-1pm
            </li>
          </ul>
        </div>
        <div class="menu_column">
          <ul class="menu_contacts">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Shipping and Delivery</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <span class="menu_animate_span"></span>
  <!-- fullMenu End -->
</nav>