<nav class="header">
  <ul class="header_menu">
    <li class="header_search" tabindex="0"><img src="img/header/searching.svg" alt="searching"></li>
    <li class="header_select" tabindex="0">
      <div class="header_hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p>select
        <br>
        <span>category</span>
      </p>
    </li>
    <li class="header_item" tabindex="0"><h1 class="header_title">agora</h1></li>
    <li class="header_login" tabindex="0"><img src="img/header/login.svg" alt="login"></li>
    <li class="header_like" tabindex="0"><img src="img/header/heart.svg" alt="heart"></li>
    <li class="header_basket" tabindex="0"><img src="img/header/basket.svg" alt="basket"></li>
  </ul>
</nav>