<div class="product-375">
  <div class="product-375_hover-bg"></div>
  <span class="product-375_sale">-15%</span>
  <p class="product-375_category hidden">lifestyle</p>
  <div class="product-375_img"></div>
  <div class="product-375_flex hidden">
    <button type="button" class="product-375_buy">
      <svg class="product-375_buy_icon">
        <use xlink:href="#basket_icon"></use>
      </svg>
      buy
    </button>
    <button type="button" class="product-375_copy">
      <svg class="product-375_copy_icon">
        <use xlink:href="#copy_icon"></use>
      </svg>
    </button>
    <button type="button" class="product-375_like">
      <svg class="product-375_like_icon">
        <use xlink:href="#heart_icon"></use>
      </svg>
    </button>
  </div>
  <h3 class="product-375_name">Jordan Galaxy</h3>
  <p class="product-375_price">$ 599.00</p>
</div>