<div class="item-in-cart_wrapper">
  <div class="item-in-cart_photo"></div>
  <p class="item-in-cart_title">
    Jordan Galaxy <br>
    <span class="item-in-cart_category">lifestyle</span>
  </p>
  <span class="item-in-cart_price">$ 599.00</span>
  <div class="item-in-cart_counter unselectable">
    <button class="item-in-cart_counter_minus">-</button>
    <span>1</span>
    <button class="item-in-cart_counter_plus">+</button>
  </div>
  <span class="item-in-cart_total-price">$ 599.00</span>
  <button class="item-in-cart_close">&times;</button>
</div>