<div class="review-card">
  <img src="#" alt="photo" class="review-card_photo">
  <div class="review-card_wrapper">
    <p class="review-card_name">Meagan Fisher Colombo</p>
    <div id="review-card-rating" class="review-card_rating">
      <svg class="review-card_rating_icon">
        <use xlink:href="#rating-full_star"></use>
      </svg>
      <svg class="review-card_rating_icon">
        <use xlink:href="#rating-full_star"></use>
      </svg>
      <svg class="review-card_rating_icon">
        <use xlink:href="#rating-full_star"></use>
      </svg>
      <svg class="review-card_rating_icon">
        <use xlink:href="#rating-full_star"></use>
      </svg>
      <svg class="review-card_rating_icon_grey">
        <use xlink:href="#rating-full_star"></use>
      </svg>
    </div>
  </div>
  <div class="review-card_wrapper">
    <p class="review-card_descr">Proin finibus lorem enim. Vestibulum consequat cursus diam, id corper nibh ultrices id. Donec ante odio, volutpat et enim vel, efficitur scelerisque risus. Morbi porttitor ac mauris ac ultricies. </p>
    <div id="review-likes-idNumber" class="review-card_like">
      <button class="review-card_like_btn">
        <svg tabindex="0" class="review-card_like_icon">
          <use xlink:href="#like_icon"></use>
        </svg>
      </button>
      <span class="review-card_like_good">12</span>
      <button class="review-card_dislike_btn">
        <svg tabindex="0" class="review-card_dislike_icon">
          <use xlink:href="#like_icon"></use>
        </svg>
      </button>
      <span class="review-card_like_bad">5</span>
    </div>
  </div>
  <p id="review-date" class="review-card_date">25 sep 2016</p>
</div>