<div class="promo_slider" unselectable>
  <div>
    <p class="promo_collection">
      New Collection <br>
      <span>Sring</span>
    </p>
    <div class="promo_new">
      new
    </div>
    <h2 class="promo_title">SNKRS OF<br>
        THE WEEK
    </h2>
    <button class="promo_btn">
      More Info
    </button>
    <img src="img/slider/shoes.png" alt="shoes" class="promo_img">
  </div>
  <div>
      <p class="promo_collection">
        New Collection <br>
        <span>Sring</span>
      </p>
      <div class="promo_new">
        new
      </div>
      <h2 class="promo_title">SNKRS OF<br>
          THE WEEK
      </h2>
      <button class="promo_btn">
        More Info
      </button>
      <img src="img/slider/shoes.png" alt="shoes" class="promo_img">
  </div>
  <div>
        <p class="promo_collection">
          New Collection <br>
          <span>Sring</span>
        </p>
        <div class="promo_new">
          new
        </div>
        <h2 class="promo_title">SNKRS OF<br>
            THE WEEK
        </h2>
        <button class="promo_btn">
          More Info
        </button>
        <img src="img/slider/shoes.png" alt="shoes" class="promo_img">
  </div>
</div>