<div class="promo_slider">
  <div class="promo_content">
    <p class="promo_collection">
      New Collection <br>
      <span>Spring</span>
    </p>
    <div class="promo_new">
      new
    </div>
    <h2 class="promo_title">SNKRS OF<br>
        THE WEEK
    </h2>
    <a href="product.html" class="promo_btn">
      More Info
    </a>
    <img src="img/slider/shoes.png" alt="shoes" class="promo_img">
  </div>
  <div class="promo_content">
      <p class="promo_collection">
        New Collection <br>
        <span>Spring</span>
      </p>
      <div class="promo_new">
        new
      </div>
      <h2 class="promo_title">SNKRS OF<br>
          THE WEEK
      </h2>
      <a href="product.html" class="promo_btn">
        More Info
      </a>
      <img src="img/slider/shoes.png" alt="shoes" class="promo_img">
  </div>
  <div class="promo_content">
        <p class="promo_collection">
          New Collection <br>
          <span>Spring</span>
        </p>
        <div class="promo_new">
          new
        </div>
        <h2 class="promo_title">SNKRS OF<br>
            THE WEEK
        </h2>
        <a href="product.html" class="promo_btn">
          More Info
        </a>
        <img src="img/slider/shoes.png" alt="shoes" class="promo_img">
  </div>
</div>