<section class="subscribe">
  <h2 class="hidden">subscribe</h2>
  <div class="container">
    <h2 class="subscribe_title">subscribe to our newsletter</h2>
    <p class="subscribe_descr">Aliquam erat volutpat. Maecenas vehicula sapien quis erat interdum aliquam non id ante. Nullam tempus sollicitudin elit, <br>at consectetur arcu lobortis ac. Duis at mattis ex. </p>
    <form action="#" class="subscribe_form">
      <div>
        <svg class="subscribe_form_icon">
          <use xlink:href="#email_icon"></use>
        </svg>
      </div>
      <input name="email" type="email" class="subscribe_email" placeholder="Enter your email">
    </form>
  </div>
</section>