//some libs

@import "partials/fonts.scss";
@import "lib/reset.scss";

//variables

$main-color: #67dacaf5;
$main-color2: #3a54d6;
$text-color: #ffffff;
$menu-link-color: #ffffff;

@import "partials/header.scss";
@import "partials/subscribe.scss";
@import "partials/footer.scss";
@import "partials/pageup.scss";
@import "partials/blog-preview.scss";
@import "partials/review-card.scss";

* {
  box-sizing: border-box;
  &:focus {
    outline-color: rgb(255, 195, 31);
  }
}

// my classes

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.hidden {
  display: none;
  &_active {
    display: block;
  }
  &_grid {
    display: grid;
  }
  &_flex {
    display: flex;
  }
}

.over-flow {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  &_animate {
    left: 0;
  }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

// grids

.grid-500 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 500px;
  grid-auto-flow: dense;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  &_wrapper {
    z-index: 5;
    position: relative;
    box-shadow: inset -1px -1px 0 0 #e6e6e6;
    background-color: #fff;
  }
}

.grid-375 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-auto-rows: 375px;
  grid-auto-flow: dense;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  &_wrapper {
    position: relative;
    box-shadow: inset -1px -1px 0 0 #e6e6e6;
  }
}

.grid-250 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  &_wrapper {
    position: relative;
    box-shadow: inset -1px -1px 0 0 #e6e6e6;
  }
}

.full-height {
  height: 100%;
}

.grid-big {
  grid-row-end: span 2;
  grid-column-end: span 2;
}

.grid-long {
  grid-column-end: span 2;
}

.grid-tall {
  grid-row-end: span 2;
}

.products {
  position: relative;
}

.grid-empty {
  height: 100%;
  background-color: rgb(121, 121, 121);
  box-shadow: inset -1px -1px 0 0 #e6e6e6;
}

.blogs {
  margin-top: 75px;
  height: 235px;
  width: 100%;
  padding: 55px 0 125px 0;
  background-color: $main-color;
  &_title {
    font-family: "Oswald";
    font-size: 25px;
    letter-spacing: 2.5px;
    text-align: center;
    color: $text-color;
    text-transform: uppercase;
  }
  &_subtitle {
    margin: 0 auto;
    margin-top: 14px;
    text-align: center;
    a {
      font-family: "Poppins";
      font-size: 12px;
      color: $text-color;
      span {
        position: relative;
        top: 2px;
        margin: 0 8px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

.content {
  margin-top: -75px;
  position: relative;
  z-index: 5;
  &_wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 1500px;
    min-height: 625px;
    background: url("") rgb(80, 80, 80);
    padding: 0 250px 115px 250px;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  }
  &_category {
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 25px;
    border-radius: 2px;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: $main-color2;
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: $text-color;
  }
  &_title {
    text-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.4);
    font-family: "Oswald";
    font-size: 60px;
    line-height: 1;
    color: $text-color;
  }
  &_block {
    display: flex;
    flex-direction: column;
  }
  &_comments {
    font-family: "Poppins";
    font-size: 12px;
    line-height: 2.08;
    text-align: right;
    color: $text-color;
    &_icon {
      height: 14px;
      width: 14px;
      fill: $text-color;
      margin-right: 7px;
    }
  }
  &_date {
    font-family: "Poppins";
    font-size: 12px;
    line-height: 2.08;
    text-align: right;
    color: $text-color;
    &_icon {
      height: 14px;
      width: 14px;
      fill: $text-color;
      margin-right: 7px;
    }
  }
  &_share {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    right: 125px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0px 5px 20px 0 rgba(150, 102, 0, 0.3), inset 0px 1px 0 0 #efe3b3;
    background-color: #feb312;
    cursor: pointer;
    &:hover {
      background-color: $main-color;
      box-shadow: 0px 5px 20px 0 rgba(9, 199, 199, 0.3);
    }
    &_icon {
      position: relative;
      right: 2px;
      width: 20px;
      height: 22px;
      fill: #ffffff;
    }
  }
  &_box-shadow {
    min-height: 2625px;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 125px 250px 0 250px;
    background-color: #fff;
  }
  &_text {
    position: relative;
    z-index: 5;
    width: 750px;
    margin: 0 auto;
    &_title {
      max-width: 1000px;
      margin: 0 auto;
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 500;
      line-height: 1.94;
      color: #111111;
    }
    &_descr {
      margin-top: 70px;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 300;
      line-height: 2.14;
      text-align: left;
      color: #888888;
    }
    &_figure {
      margin-top: 70px;
    }
    &_img {
      height: 430px;
      width: 100%;
      background-color: rgb(172, 172, 172);
    }
    &_fig {
      display: flex;
      align-items: center;
      padding: 0 35px;
      max-width: 750px;
      height: 60px;
      background-color: #fff;
      font-family: "Poppins";
      font-size: 12px;
      font-weight: 300;
      line-height: 2.5;
      color: #aaaaaa;
      box-shadow: 0px 5px 50px 0 rgba(0, 0, 0, 0.15);
      &_icon {
        margin-right: 10px;
        width: 13px;
        height: 12px;
        fill: #cccccc;
      }
    }
    &_subtitle {
      margin-bottom: 35px;
      display: block;
      font-family: "Oswald";
      font-size: 30px;
      color: #222222;
      line-height: 30px;
    }
    &_quote {
      position: relative;
      margin-top: 75px;
      max-width: 750px;
      height: 270px;
      border: solid 1px #e6e6e6;
      padding: 75px 90px 0 90px;
      &_descr {
        font-family: "Poppins";
        font-size: 18px;
        line-height: 2;
        text-align: center;
        color: #252840;
      }
      &_autor {
        margin-top: 35px;
        font-family: "Poppins";
        font-size: 12px;
        line-height: 2.5;
        letter-spacing: 1.2px;
        text-align: center;
        color: #888888;
      }
      &_icon-box {
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(50%, -50%);
        width: 50px;
        height: 50px;
        box-shadow: 0px 5px 20px 0 rgba(58, 214, 206, 0.4);
        background-color: $main-color;
        border-radius: 100%;
      }
      &_icon {
        width: 13px;
        height: 11px;
        fill: #ffffff;
      }
    }
    &_flex {
      display: flex;
      align-items: center;
      p {
        &:nth-child(1) {
          margin-right: 80px;
        }
      }
    }
    &_tags {
      margin-top: 70px;
      font-family: "Poppins";
      font-size: 12px;
      font-weight: 700;
      line-height: 3;
      letter-spacing: 1.2px;
      text-align: left;
      color: #111111;
      margin-right: 40px;
    }
    &_tag {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 30px;
      border-radius: 2px;
      background-color: #ededed;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 12px;
      line-height: 3;
      color: #111111;
      margin-right: 10px;
    }
  }
  &_autor {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.137);
    &_photo {
      margin-right: 34px;
      width: 50px;
      height: 50px;
      background: #ddd;
      border-radius: 100%;
    }
    &_name {
      font-family: "Poppins";
      font-weight: 700;
      font-size: 12px;
      color: #bbbbbb;
      span {
        text-align: left;
        color: #111111;
        font-size: 14px;
        line-height: 1.43;
      }
    }
    &_flex {
      display: flex;
      justify-content: space-between;
    }
    &_btn {
      width: 150px;
      height: 50px;
      background-color: $main-color;
      border-radius: 30px;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 500;
      color: $text-color;
      cursor: pointer;
    }
  }
}

.load_more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px #e6e6e6;
  background-color: #ffffff;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  cursor: pointer;
  &_icon {
    width: 25px;
    height: 25px;
    fill: $main-color2;
    margin-right: 15px;
  }
}

.comments {
  position: relative;
  z-index: 5;
  &_background {
    background-color: #f7f7f7;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 0 0 125px 0;
  }
  &_wrapper {
    width: 750px;
    margin: 0 auto;
  }
  &_flex {
    height: 125px;
    padding: 60px 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_count {
    font-family: "Oswald";
    font-size: 20px;
    color: #111111;
    span {
      margin-left: 10px;
      color: $main-color2;
    }
  }
  &_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: solid 1px #dddddd;
    background-color: #f7f7f7;
    border-radius: 100%;
    &_icon {
      width: 18px;
      height: 18px;
      fill: #111111;
    }
  }
  &_list {
    border-bottom: 1px solid #ebebeb;
    li {
      border-top: 1px solid #ebebeb;
    }
  }
  &_add {
    &_title {
      margin-top: 70px;
      font-family: "Oswald";
      font-size: 20px;
      color: #111111;
    }
    &_form {
      margin-top: 35px;
      display: grid;
      grid-template-columns: 250px 250px 250px;
      grid-template-rows: 190px 60px;
    }
    &_area {
      grid-column-end: span 3;
      resize: none;
      padding: 25px;
      border-radius: 10px 10px 0 0;
      border: none;
      box-shadow: inset 0px 1px 0px 1px #dddddd;
      border-bottom: 1px solid #dddddd;
    }
    &_name {
      padding-left: 25px;
      border-radius: 0 0 0 10px;
      border: none;
      box-shadow: inset 1px -1px 1px 0 #dddddd;
    }
    &_email {
      padding-left: 25px;
      border: none;
      box-shadow: inset 1px -1px 1px 0 #dddddd;
    }
    &_btn {
      width: 250px;
      height: 60px;
      border-radius: 0 0 10px 0;
      box-shadow: 0px 5px 20px 0 rgba(55, 205, 216, 0.4);
      background-color: $main-color;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 500;
      color: $text-color;
      border: none;
      box-shadow: inset 1px -1px 1px 0 #dddddd;
      cursor: pointer;
    }
  }
}
