//some libs

@import "partials/fonts.scss";
@import "lib/reset.scss";
@import "lib/slick.scss";

//variables

$main-color: rgb(223, 229, 231);
$main-color2: #3a54d6;
$text-color: #111111;
$menu-link-color: #2943c4da;

@import "partials/header.scss";
@import "partials/subscribe.scss";
@import "partials/footer.scss";
@import "partials/pageup.scss";
@import "partials/index/slider.scss";

* {
  box-sizing: border-box;
  &:focus {
    outline-color: $main-color2;
  }
}

// my classes

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.hidden {
  display: none;
  &_active {
    display: block;
  }
  &_grid {
    display: grid;
  }
  &_flex {
    display: flex;
  }
}

.over-flow {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  &_animate {
    left: 0;
  }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

// grids

.grid-375 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-auto-rows: 990px;
  grid-auto-flow: dense;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  &_wrapper {
    z-index: 5;
    position: relative;
    box-shadow: inset -1px -1px 0 0 #e6e6e6;
  }
}

.grid-500 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 75px;
  grid-auto-flow: dense;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  &_wrapper {
    position: relative;
    box-shadow: inset -1px -1px 0 0 #e6e6e6;
    background-color: #fff;
  }
}

.full-height {
  height: 100%;
}

.grid-big {
  grid-row-end: span 2;
  grid-column-end: span 2;
}

.grid-long {
  grid-column-end: span 2;
}

.grid-tall {
  grid-row-end: span 2;
}

.products {
  position: relative;
}

.grid-empty {
  height: 100%;
  background-color: rgb(121, 121, 121);
  box-shadow: inset -1px -1px 0 0 #e6e6e6;
}

.promo_collection {
  span {
    color: $main-color2;
  }
}

.promo_slider_prev,
.promo_slider_next {
  border: 2px solid rgba(0, 0, 0, 0.363);
}

.catalog-tabs {
  z-index: 5;
  margin-top: -75px;
  &_list {
    padding: 65px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset -1px -1px 0 0 #e6e6e6;
    background: #fff;
  }
  &_btn {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #888888;
    cursor: pointer;
    &_active {
      color: #fefeff;
      background-color: $main-color2;
    }
  }
  &_title {
    font-family: "Oswald";
    font-size: 18px;
    letter-spacing: 1.8px;
    text-align: center;
    color: $text-color;
    text-transform: uppercase;
    a {
      color: $text-color;
    }
  }
  &_links {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 300;
    line-height: 2.6;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
  }
  &_clothing-icon {
    margin-top: 37px;
    margin-bottom: 35px;
    width: 64px;
    height: 70px;
    fill: $main-color2;
  }
  &_transport-icon {
    margin-top: 23px;
    margin-bottom: 35px;
    width: 60px;
    height: 44px;
    fill: $main-color2;
  }
  &_equipment-icon {
    margin-top: 35px;
    margin-bottom: 40px;
    width: 60px;
    height: 55px;
    fill: $main-color2;
  }
  &_hunting-icon {
    margin-top: 28px;
    margin-bottom: 26px;
    width: 60px;
    height: 60px;
    fill: $main-color2;
  }
  &_shoes-icon {
    margin-top: 45px;
    margin-bottom: 55px;
    width: 70px;
    height: 32px;
    fill: $main-color2;
  }
  &_other-icon {
    margin-top: 40px;
    margin-bottom: 49px;
    width: 38px;
    height: 54px;
    fill: $main-color2;
  }
  &_nutrition-icon {
    margin-top: 40px;
    margin-bottom: 41px;
    width: 70px;
    height: 56px;
    fill: $main-color2;
  }
}

.hidden {
  display: none;
  &_active {
    display: block;
  }
  &_grid {
    display: grid;
  }
  &_flex {
    display: flex;
  }
}
