//some libs

@import "partials/fonts.scss";
@import "lib/reset.scss";
@import "lib/slick.scss";
@import "lib/slick-theme.scss";

//variables

$main-color: rgb(223, 229, 231);
$main-color2: #3a54d6;
$text-color: #111111;
$menu-link-color: #2943c4da;

@import "partials/header.scss";
@import "partials/subscribe.scss";
@import "partials/footer.scss";
@import "partials/pageup.scss";
@import "partials/index/slider.scss";

* {
  box-sizing: border-box;
  &:focus {
    outline-color: $main-color2;
  }
}

// my classes

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.hidden {
  display: none;
  &_active {
    display: block;
  }
  &_grid {
    display: grid;
  }
  &_flex {
    display: flex;
  }
}

.over-flow {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  &_animate {
    left: 0;
  }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

// grids

.grid-375 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-auto-rows: 375px;
  grid-auto-flow: dense;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  &_wrapper {
    position: relative;
    box-shadow: inset -1px -1px 0 0 #e6e6e6;
  }
}

.grid-250 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  &_wrapper {
    position: relative;
    box-shadow: inset -1px -1px 0 0 #e6e6e6;
  }
}

.grid-big {
  grid-row-end: span 2;
  grid-column-end: span 2;
}

.grid-long {
  grid-column-end: span 2;
}

.grid-tall {
  grid-row-end: span 2;
}

.products {
  position: relative;
}

.grid-empty {
  height: 100%;
  background-color: rgb(121, 121, 121);
  box-shadow: inset -1px -1px 0 0 #e6e6e6;
}
// partial files

.promo_collection {
  span {
    color: $main-color2;
  }
}
