@import "partials/fonts.scss";
@import "lib/reset.scss";
@import "lib/slick.scss";
@import "lib/slick-theme.scss";

//variables

$main-color: #606070;
$main-color2: #3a54d6;
$text-color: #ffffff;

* {
  box-sizing: border-box;
  &:focus {
    outline-color: $main-color2;
  }
}

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.hidden {
  display: none;
  &_active {
    display: block;
  }
  &_grid {
    display: grid;
  }
  &_flex {
    display: flex;
  }
}

.over-flow {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  &_animate {
    left: 0;
  }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

p,
body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

@import "partials/header.scss";
@import "partials/slider.scss";
