.product {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px;
  &_img {
    height: 205px;
    background: rgba(109, 109, 109, 0.562);
  }
  &_title {
    margin-top: 25px;
    font-family: "Oswald";
    font-size: 17px;
    color: #111111;
  }
  &_price {
    margin-top: 10px;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    color: $main-color2;
  }
  &_discount {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 20px;
    border-radius: 3px;
    background-color: #111111;
    font-family: "Poppins";
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
  }
}

.new-product {
  height: 100%;
  padding: 60px;
  background: url("") center (center / cover) no-repeat $main-color2;
  box-shadow: inset -0.7px -0.7px 0 0 #e6e6e6;
  &_sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 20px;
    border-radius: 2px;
    background-color: #111111;
    font-family: "Poppins";
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
  }
  &_category {
    margin-top: 50px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.8px;
    color: #ffffff;
    text-transform: uppercase;
  }
  &_title {
    margin-top: 22px;
    font-family: "Oswald";
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    span {
      text-transform: uppercase;
    }
  }
  &_btn {
    margin-top: 46px;
    width: 160px;
    height: 50px;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1),
      inset 0px 1px 0 0 rgba(255, 255, 255, 0.1);
    background-color: rgb(98, 173, 231);
    border-radius: 30px;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
  }
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #222222;
  padding: 78px 95px;
  &_title {
    margin-top: 40px;
    font-family: "Oswald";
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
  }
  &_descr {
    margin-top: 24px;
    font-family: "Poppins";
    font-size: 13px;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
  }
  &_more {
    margin-top: 35px;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: $text-color;
    &_icon {
      fill: #fff;
      height: 13px;
      width: 13px;
      position: relative;
      top: 2px;
      left: 7px;
      stroke: #111;
      stroke-width: 31px;
    }
  }
}

.load_more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px #e6e6e6;
  background-color: #ffffff;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  &_icon {
    width: 25px;
    height: 25px;
    fill: $main-color2;
    margin-right: 15px;
  }
}
